body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(118, 0, 120) 0%, rgb(0, 0, 0) 35%, rgb(130, 0, 80) 100%);
    padding: 20px;
  }

  button {
    background-color: transparent;
    color: rgb(0, 0, 0);
    border-color: black;
    border: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
p,a,h1 {
  font-family: Jura;
    color: rgb(255, 255, 255);
}

select {
  width: 200px;
}